.collections {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 10px;
  padding: 20px;

  .womens {
    position: relative;
    background-image: url('../public/Womens.png');
    height: 213px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 980px) {
      height: 435px;
    }

    p {
      margin: 0;
      background-color: rgba(16, 80, 79, 1);
      color: #FFFFFF;
      text-align : center;
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      font-size: clamp(20px, 3vw, 40px);
      line-height: 35px;
      height: 42px;
      text-transform: capitalize;
    }
  }

  .mens {
    position: relative;
    background-image: url('../public/Mens.png');
    height: 213px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 980px) {
      height: 435px;
    }

    p {
      margin: 0;
      background-color: rgba(16, 80, 79, 1);
      color: #FFFFFF;
      text-align : center;
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      font-size: clamp(20px, 3vw, 40px);
      line-height: 35px;
      height: 42px;
      text-transform: capitalize;
    }
  }

  .accessories {
    position: relative;
    grid-column: 1 / 3;
    background-image: url('../public/Accessories.png');
    height: 213px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 980px) {
      grid-column: auto;
      height: 435px;
    }

    p {
      margin: 0;
      background-color: rgba(16, 80, 79, 1);
      color: #FFFFFF;
      text-align : center;
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      font-size: clamp(20px, 3vw, 40px);
      line-height: 35px;
      height: 42px;
      text-transform: capitalize;
    }
  }

  .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #10504f;
    padding: 20px;
  }

  @media (min-width: 980px) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    margin: auto;
  }
}