html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
    background-color: #FFFFFF !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -4px !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -4px !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 28% !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 25px !important;
  color: black !important;
}