.header {
  background-color: rgba(16, 80, 79, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  .hamburgercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
  .iconscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}