.shopnew {
  padding: 20px;
  h3 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    margin: 0px 0px 20px 0px;
  }
}